html, body {
    height: 100%;
}

.fundo {
    background-color: rgb(15, 15, 15);
}

.btn_Voltar {
    display: block;
    text-align: center;
    width: 10em;
    margin: auto;
    margin-top: 6em;
    font-size: 20px;
    border: 3px solid rgb(132, 27, 230);
    color: rgb(132, 27, 230);
    background-color: rgb(15, 15, 15);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: all 0.3s ease-in-out;
}

.btn_Voltar:hover {
    background-color: rgb(132, 27, 230);
    transform:scale(1.2);
    color: white;
}

@media (max-width: 700px) {
    .btn_Voltar {
        margin-top: 3em;
    }
}

/*formLogin.php*/
.formLogin {
    display: block;
    margin: auto;
    width: 20em;
    text-align: center;
    color: white;
    font-weight: bold;
}

.formLogin input {
    border: 0.1em solid whitesmoke;
    color: white;
    background-color: #212529;
}

.formLogin label {
    padding-top: 2em;
    width: 5em;
}

.formLogin .btn_Submit {
    display: block;
    text-align: center;
    width: 10em;
    margin: auto;
    margin-top: 3em;
    font-size: 20px;
    border: 3px solid rgb(132, 27, 230);
    color: rgb(132, 27, 230);
    background-color: rgb(15, 15, 15);
    transition: all 0.3s ease-in-out;
}

.box_Login {
    padding-top: 12em;
}

/*login.php*/
.login_Falha {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 25px;
    width: 20em;
    margin-top: 10em;
    font-weight: bold;
    background-color: #f89ca4;
}

@media (max-width: 650px) {
    .login_Falha {
        margin-top: 6em;
        margin-bottom: 2.5em;
    }
}

/*Index.php*/
.sectionIndex {
    display: block;
    width: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn_Index {
    font-size: 1em;
    text-decoration: none;
    background-color: rgb(15, 15, 15);
    width: 17em;
    padding-top: 3em;
    padding-bottom: 3em;    
    transition: all 0.3s ease-in-out;
}

.indexRegistro {
    display: inline-block;
    margin: auto;
}

.indexRegistro .btn_Index {
    display: block;
    margin: auto;
    border: 3px solid rgb(192, 27, 230);
    color: rgb(192, 27, 230);
    margin-top: 10em;
    margin-bottom: 10em;
    margin-right: 10em;
}

.indexRegistro .btn_Index:hover {
    background-color: rgb(192, 27, 230);
    transform:scale(1.2);
    color: white;
}

.linhaSeparadora {
    display: inline-block;
    margin: auto;
    border-left: 5px solid rgb(132, 27, 230);
    height: 30em;
    width: 2px;
}

.indexPendencia {
    display: inline-block;
    margin: auto;
}

.indexPendencia .btn_Index {
    display: block;
    margin: auto;
    border: 3px solid rgb(72, 27, 230);
    color: rgb(72, 27, 230);
    margin-top: 10em;
    margin-bottom: 10em;
    margin-left: 10em;
}

.indexPendencia .btn_Index:hover {
    background-color: rgb(72, 27, 230);
    transform:scale(1.2);
    color: white;
}

@media (max-width: 1100px) {
    .linhaSeparadora {
        visibility: hidden;
    }

    .indexRegistro .btn_Index {
        margin-top: 10em;
        margin-bottom: 10em;
        margin-right: 3em;
    }

    .indexPendencia .btn_Index {
        margin-top: 10em;
        margin-bottom: 10em;
        margin-left: 3em;
    }
}

@media (max-width: 700px) {
    .indexRegistro .btn_Index {
        margin-top: 11em;
        margin-bottom: 6em;
        margin-right: 1.5em;
        width: 13em;
        padding-top: 2.5em;
        padding-bottom: 2.5em;  
    }

    .indexPendencia .btn_Index {
        margin-top: 11em;
        margin-bottom: 6em;
        margin-left: 1.5em;
        width: 13em;
        padding-top: 2.5em;
        padding-bottom: 2.5em;  
    }
}

/*formAddRegistro.php*/
.form_AddRegistro {
    display: block;
    margin: auto;
    width: 20em;
    text-align: center;
    color: white;
    font-weight: bold;
}

.form_AddRegistro label {
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.form_AddRegistro input {
    color: white;
    background-color: #212529;
}

.form_AddRegistro .btn_Submit {
    display: block;
    text-align: center;
    width: 10em;
    margin: auto;
    margin-top: 4em;
    margin-bottom: -2em;
    font-size: 20px;
    border: 3px solid rgb(132, 27, 230);
    color: rgb(132, 27, 230);
    background-color: rgb(15, 15, 15);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: all 0.3s ease-in-out;
}

.btn_Submit:hover {
    background-color: rgb(132, 27, 230);
    transform:scale(1.2);
    color: white;
}

.formDesc {
    width: 18em;
}

.valor_Inserido {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 25px;
    width: 20em;
    margin-top: 8em;
    font-weight: bold;
}

@media (max-width: 500px) {
    .valor_Inserido {
        width: 12em;
    }
}

/*addRegistro.php*/
.btn_InserirMaisUm {
    display: block;
    text-align: center;
    width: 15em;
    margin: auto;
    margin-top: 6em;
    font-size: 20px;
    border: 3px solid rgb(132, 27, 230);
    color: rgb(132, 27, 230);
    background-color: rgb(15, 15, 15);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: all 0.3s ease-in-out;
}

.btn_InserirMaisUm:hover {
    background-color: rgb(132, 27, 230);
    transform:scale(1.2);
    color: white;
}

@media (max-width: 700px) {
    .btn_InserirMaisUm {
        margin-top: 3em;
    }
}

/*checkRegistros.php*/
.tableRegistros {
    text-align: center;
    margin-top: 2em;
    background-color: #212529;
    color: white;
    border-color: #373b3e;
    --bs-table-hover-color: white;
}

.tablelist td, th {
    border: 1px solid rgb(71, 71, 71);
}

.table-danger {
    --bs-table-color: white;
    --bs-table-bg: rgb(185, 42, 42);
    --bs-table-hover-bg: rgb(187, 62, 62);
    --bs-table-hover-color: white;
}

.table-success {
    --bs-table-color: white;
    --bs-table-bg: rgb(53, 167, 78);
    --bs-table-hover-bg: rgb(86, 168, 104);
    --bs-table-hover-color: white;
}

.formMes {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
}

.formMes label {
    margin-bottom: 2em;
}

.formMes input {
    color: white;
    background-color: #212529;
}

@media (max-width: 700px) {
    .formMes label {
        margin-bottom: 0.5em;
    }
}

.lixeiraIMG{
    height: 33px;
    width: 28px;
}

.soma_Mes {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 25px;
    width: 30em;
    margin-top: 1em;
    color: white;
    border: 2px solid rgb(42, 163, 211);
    background-color: rgb(15,15,15);
}

.soma_Total {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 30px;
    width: 35em;
    margin-top: 1em;
    color: white;
    border: 2px solid rgba(98, 59, 202, 0.842);
    background-color: rgb(15,15,15);
}

.nenhum_Registro {
    display: block;
    margin: auto;
    text-align: center;
    background: #ffecac;
    font-size: 25px;
    font-weight: bold;
    margin-top: 2em;
}

@media (max-width: 800px) {
    .nenhum_Registro {
        font-size: 20px;
    }
}

/*formAddPendencia.php*/
.form_AddPendencia {
    display: block;
    margin: auto;
    width: 20em;
    text-align: center;
    color: white;
    font-weight: bold;
}

.form_AddPendencia label {
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.form_AddPendencia input {
    color: white;
    background-color: #212529;
}

.form_AddPendencia .btn_Submit {
    display: block;
    text-align: center;
    width: 10em;
    margin: auto;
    margin-top: 4em;
    margin-bottom: -2em;
    font-size: 20px;
    border: 3px solid rgb(132, 27, 230);
    color: rgb(132, 27, 230);
    background-color: rgb(15, 15, 15);
    transition: all 0.3s ease-in-out;
}

.btn_Submit:hover {
    background-color: rgb(132, 27, 230);
    transform:scale(1.2);
    color: white;
}

.formCredDev {
    width: 15em;
}


/*checkPendencias.php*/
.quitarIMG{
    height: 33px;
    width: 28px;
}

.btn_checkChaves {
    display: block;
    text-align: center;
    width: 15em;
    margin: auto;
    margin-top: 6em;
    font-size: 20px;
    border: 3px solid rgb(132, 27, 230);
    color: rgb(132, 27, 230);
    background-color: rgb(15, 15, 15);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: all 0.3s ease-in-out;
}

.btn_checkChaves:hover {
    background-color: rgb(132, 27, 230);
    transform:scale(1.2);
    color: white;
}

@media (max-width: 700px) {
    .btn_checkChaves {
        margin-top: 3em;
    }
}

/*checkChavesPendencias.php*/
.tableChaves {
    text-align: center;
    margin-top: 10em;
    background-color: #212529;
    color: white;
    border-color: #373b3e;
    --bs-table-hover-color: white;
}

.tableChaves td {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.tableChaves tr {
    cursor: pointer;
}

.tableChaves tr th {
    cursor: auto;
}