name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . -t diegorockenbach/gestaofiscalmobile:latest
    - name: Push image to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_HUB_PASSWORD_TOKEN }}" | docker login -u diegorockenbach --password-stdin
        docker push diegorockenbach/gestaofiscalmobile:latest
