name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
  

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Log in to GitHub Container Registry
      run: echo "${{ secrets.dockerLocal }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Build the Docker image
      run: docker build . -t ghcr.io/diegorockenbach/gestaofiscalmobile:latest

    - name: Push image to GitHub Container Registry
      run: docker push ghcr.io/diegorockenbach/gestaofiscalmobile:latest
